@* Контактная информация. *@

@using Application.Data.Models

<div class="o-grid">

	@foreach (ContactItem contact in Items)
	{
		if (contact.Hyperlink is null)
		{
			<ArbitraryContact Title="@contact.Title"
							  Description="@contact.Description" />
		}
		else
		{
			<HyperlinkContact Title="@contact.Title"
							  Description="@contact.Description"
							  Hyperlink="@contact.Hyperlink" />
		}
	}

</div>

@code {
	/// <summary>
	/// Элементы, каждый из которых представляет отдельную запись контактной информации.
	/// </summary>
	[Parameter]
	public IEnumerable<ContactItem> Items { get; set; } = Enumerable.Empty<ContactItem>();
}
