@page "/"

@using Application.Data.Models

@inherits LocalizedComponentBase

@inject IStringLocalizer<Index> Localizer
@inject ResumeData ResumeData

<!-- ################################ -->
<!-- ############ HEADER ############ -->
<!-- ################################ -->
<ResumeSection AdditionalClasses="o-section--header t-section--header">

	<HeaderFragment>
		<header class="o-section__header  c-header__header  t-section__header">
			<div class="c-header__inner-header">

				<div class="c-header__avatar">
					<div class="a-header  c-avatar">
						<img class="c-avatar__img"
							 src="images/header/avatar.jpg"
							 alt="@Localizer["AvatarAlt"]">
					</div>
				</div>

			</div>
		</header>
	</HeaderFragment>

	<ContentFragment>
		<SectionContent AdditionalClasses="c-header__content">

			<div class="c-header__inner-content">

				<div class="c-header__top">

					<div class="c-header__brand">

						<div class="c-brand">
							<h1 class="c-brand__title  t-title">
								<span class="c-brand__sizer">
									<span class="a-header  c-brand__first-word  t-title__first-word">
										@ResumeData.Name
									</span>
									<span class="a-header  c-brand__second-word  t-title__second-word">
										@ResumeData.Surname
									</span>
								</span>
							</h1>
							<h2 class="a-header  c-brand__sub-title  t-sub-title">
								<span class="c-brand__sizer">
									@ResumeData.Title
								</span>
							</h2>
						</div>

					</div>

					<SocialButtons AdditionalListClasses="c-header__social-buttons"
								   ItemClass="a-header"
								   Items="ResumeData.SocialButtons" />

				</div>

				<div class="c-header__contact">

					<hr class="a-header  c-header__contact-divider" />

					<Contacts Items="ResumeData.Contacts" />
				</div>

			</div>

		</SectionContent>
	</ContentFragment>

</ResumeSection>

@if (ResumeData.Intro != null)
{
	<!-- ################################ -->
	<!-- ############ INTRO ############# -->
	<!-- ################################ -->
	<ResumeSection>

		<HeaderFragment>
			<SectionHeader Title="@Localizer["IntroTitle"]"
						   Description="@Localizer["IntroDescription"]" />
		</HeaderFragment>

		<ContentFragment>
			<SectionContent>

				<div class="o-content">
					<div class="c-intro">
						<div class="o-content__body">
							<p>
								@ResumeData.Intro
							</p>
						</div>
					</div>
				</div>

			</SectionContent>
		</ContentFragment>

	</ResumeSection>
}

@if (ResumeData.Expertise?.Any() == true)
{
	<!-- ################################ -->
	<!-- ########## EXPERTISE ########### -->
	<!-- ################################ -->
	<ResumeSection>

		<HeaderFragment>
			<SectionHeader Title="@Localizer["ExpertiseTitle"]"
						   Description="@Localizer["ExpertiseDescription"]" />
		</HeaderFragment>

		<ContentFragment>
			<SectionContent>

				<div class="o-grid">

					@{
						int number = 0;
					}
					@foreach (TitleElement expertise in ResumeData.Expertise)
					{
						number++;
						<Expertise Number="@number"
								   Title="@expertise.Title"
								   Description="@expertise?.Description" />
					}

				</div>

			</SectionContent>
		</ContentFragment>

	</ResumeSection>
}

@if (ResumeData.Skills?.Any() == true)
{
	<!-- ################################ -->
	<!-- ############ SKILLS ############ -->
	<!-- ################################ -->
	<ResumeSection>

		<HeaderFragment>
			<SectionHeader Title="@Localizer["SkillsTitle"]"
						   Description="@Localizer["SkillsDescription"]" />
		</HeaderFragment>

		<ContentFragment>
			<SectionContent>

				<div class="o-grid">

					@foreach (SkillItem skill in ResumeData.Skills)
					{
						<Skill Title="@skill.Title"
							   Percent="@skill.Percent" />
					}

				</div>

			</SectionContent>
		</ContentFragment>

	</ResumeSection>
}

@if (ResumeData.Experience?.Any() == true)
{
	<!-- ################################ -->
	<!-- ########## EXPERIENCE ########## -->
	<!-- ################################ -->
	<ResumeSection>

		<HeaderFragment>
			<SectionHeader Title="@Localizer["ExperienceTitle"]"
						   Description="@Localizer["ExperienceDescription"]" />
		</HeaderFragment>

		<ContentFragment>
			<SectionContent AdditionalClasses="u-pb-0">

				<div class="a-experience-timeline  c-timeline  t-border-color">

					@foreach (Data.Models.MonthYearTimeLineItem timeLineItem in ResumeData.Experience)
					{
						<MonthYearTimeLineItem StartDate="@timeLineItem.StartDate"
											   EndDate="@timeLineItem.EndDate"
											   Institution="@timeLineItem.Institution"
											   Position="@timeLineItem.Position"
											   Location="@timeLineItem.Location"
											   Description="@timeLineItem.Description" />
					}

				</div>

			</SectionContent>
		</ContentFragment>

	</ResumeSection>
}

@if (ResumeData.Education?.Any() == true)
{
	<!-- ################################ -->
	<!-- ########### EDUCATION ########## -->
	<!-- ################################ -->
	<ResumeSection>

		<HeaderFragment>
			<SectionHeader Title="@Localizer["EducationTitle"]"
						   Description="@Localizer["EducationDescription"]" />
		</HeaderFragment>

		<ContentFragment>
			<SectionContent AdditionalClasses="u-pt-0">

				<div class="o-content">
					<div class="a-education-timeline  c-timeline  t-border-color  o-section__full-top-space">
						<div class="c-timeline__end  t-border-color"></div>

						@foreach (Data.Models.YearTimeLineItem timeLineItem in ResumeData.Education)
						{
							<YearTimeLineItem StartYear="@timeLineItem.StartYear"
											  EndYear="timeLineItem.EndYear"
											  Institution="@timeLineItem.Institution"
											  Position="@timeLineItem.Position"
											  Location="@timeLineItem.Location"
											  Description="@timeLineItem.Description" />
						}

					</div>
				</div>

			</SectionContent>
		</ContentFragment>

	</ResumeSection>
}

@if (ResumeData.Profiles?.Any() == true)
{
	<!-- ################################ -->
	<!-- ########### PROFILES ########### -->
	<!-- ################################ -->
	<ResumeSection>

		<HeaderFragment>
			<SectionHeader Title="@Localizer["ProfilesTitle"]"
						   Description="@Localizer["ProfilesDescription"]" />
		</HeaderFragment>

		<ContentFragment>
			<SectionContent>

				<div class="o-grid">

					@foreach (ProfileItem profile in ResumeData.Profiles)
					{
						<Profile Uri="@profile.Uri"
								 FontClass="@profile.FontClass"
								 Title="@profile.Title"
								 Description="@profile.Description" />
					}

				</div>

			</SectionContent>
		</ContentFragment>

	</ResumeSection>
}

@if (ResumeData.Awards?.Any() == true)
{
	<!-- ################################ -->
	<!-- ############ AWARDS ############ -->
	<!-- ################################ -->
	<ResumeSection>

		<HeaderFragment>
			<SectionHeader Title="@Localizer["AwardsTitle"]"
						   Description="@Localizer["AwardsDescription"]" />
		</HeaderFragment>

		<ContentFragment>
			<SectionContent>

				<div class="o-grid">

					@foreach (TitleElement award in ResumeData.Awards)
					{
						<Award Title="@award.Title"
							   Description="@award.Description" />
					}

				</div>

			</SectionContent>
		</ContentFragment>

	</ResumeSection>
}

@if (ResumeData.Portfolio?.Any() == true)
{
	<!-- ################################ -->
	<!-- ########### PORTFOLIO ########## -->
	<!-- ################################ -->
	<ResumeSection>

		<HeaderFragment>
			<SectionHeader Title="@Localizer["PortfolioTitle"]"
						   Description="@Localizer["PortfolioDescription"]" />
		</HeaderFragment>

		<ContentFragment>
			<SectionContent AdditionalClasses="o-section__full-bottom-space">

				<div class="o-grid  o-grid--gallery">

					@foreach (Data.Models.PortfolioItem portfolioItem in ResumeData.Portfolio)
					{
						<PortfolioItem Title="@portfolioItem.Title"
									   Description="@portfolioItem.Description"
									   FullImageUri="@portfolioItem.FullImageUri"
									   ThumbImageUri="@portfolioItem.ThumbImageUri" />
					}

				</div>

			</SectionContent>
		</ContentFragment>

	</ResumeSection>
}

@if (ResumeData.Clients?.Any() == true)
{<!-- ################################ -->
	<!-- ############ CLIENTS ########### -->
	<!-- ################################ -->
	<ResumeSection>

		<HeaderFragment>
			<SectionHeader Title="@Localizer["ClientsTitle"]"
						   Description="@Localizer["ClientsDescription"]" />
		</HeaderFragment>

		<ContentFragment>
			<SectionContent>

				<ul class="c-clients  o-content">

					@foreach (ClientItem client in ResumeData.Clients)
					{
						<Client Uri="@client.Uri"
								Logo="@client.Logo"
								Name="@client.Name" />
					}

				</ul>

			</SectionContent>
		</ContentFragment>

	</ResumeSection>
}

<!-- ################################ -->
<!-- ############ FOOTER ############ -->
<!-- ################################ -->
<ResumeSection AdditionalClasses="o-section--footer">

	<HeaderFragment>
		<SectionHeader Title="@Localizer["ContactTitle"]"
					   Description="@Localizer["ContactDescription"]" />
	</HeaderFragment>

	<ContentFragment>
		<SectionContent>

			<div class="c-footer__contact">
				<Contacts Items="ResumeData.Contacts" />
			</div>

			<hr class="c-footer__contact-divider" />

			<div class="o-content">
				<div class="c-footer__bottom">
					<div class="c-footer__brand">

						<div class="c-brand">
							<div class="o-content__body">
								<h1 class="c-brand__title  t-title">
									<span class="c-brand__sizer  c-brand__sizer--sm">
										<span class="a-footer  c-brand__first-word  t-title__first-word">
											@ResumeData.Name
										</span>
										<span class="a-footer  c-brand__second-word  t-title__second-word">
											@ResumeData.Surname
										</span>
									</span>
								</h1>
							</div>
						</div>

					</div>

					<SocialButtons AdditionalListClasses="c-footer__social-buttons o-content__body"
								   ItemClass="a-footer"
								   Items="ResumeData.SocialButtons" />

				</div>
			</div>

		</SectionContent>
	</ContentFragment>

</ResumeSection>
